<div class="sign-up-body">  
<button class="sign-up-close"><img src='https://arcadia-static-assets.s3.amazonaws.com/arcadia-svgs/close.svg' alt="x"/></button>
<h2 class="sign-up-header">Sign up</h2>
<h2 class="sign-up-text">Just by entering your email and password.</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field field-email">
    <%= f.email_field :email,  autocomplete: "email", :class => 'sign-up-field email-sign-up', placeholder: "Email" %>
  </div>

  <div class="field field-password">
    <%= f.password_field :password, autocomplete: "new-password", :class => 'sign-up-field password-sign-up', placeholder: "Password" %>
  </div>
  <div class="consent">
    <p class= "rectangle"></p><p class="sign-up-confirm">I confirm that I have read, consent and agree to Arcadia’s <u>User Agreement</u> and <u>Privacy Policy</u>.</p>
  </div>
  <div class="actions sign-up">
    <%= f.submit "Sign up", :class => 'sign_up-btn'  %>
  </div>
  <div class="sign-up-hr"></div>
  <div class="alt-sign-up">
  <p class="or-sign-up">or sign up with</p>
  <button class="google-btn"><i class = "ion-social-googleplus-outline"></i>Google+</button>
  <button class="facebook-btn"><i class = "ion-social-googleplus-outline"></i>Facebook</button>
  </div>
  <% end %>
  </div>

<%= render "devise/shared/links" %>

