<h1>User Prescriptions Page</h1>
<div>
  <h4>Search and Add a Prescriptions</h4>
  <%= react_component("NDCSearch") %>
</div>
<div>
  <h4>Users Prescription List</h4>
<div style='display:grid'>
<table>
  <tbody>
    <% @prescriptions.each do |prescription| %>
    <td><%= prescription.brand_name %><td>
    <td><%= prescription.generic_name %><td>
    <td><%= prescription.dosage_form %><td>
    <td><%= prescription.product_type %><td>
    <td><%= prescription.product_ndc %><td>
    <td><%= prescription.user_dosage %><td>
    <td><%= prescription.user_notes %><td>
    <% end %>
  </tbody>
<table>
</div>

