
<div class="contacts-body" >

<div class="contacts-parent">
<div class="contact-close-div">
  <div class="trail-nav"></div>
  <a class="contact-close" href='javascript:history.go(-1)'>
<img src="https://arcadia-static-assets.s3.amazonaws.com/arcadia-svgs/close.svg" alt="close button" />
</a>
</div>


<div class="contacts-text-div">
<div class="contact-header">Contacts</div>
  <div class="search-contacts">
    <input class="contacts-input" type="text" placeholder="&#xF002; 
    Search" style="font-family:Arial, FontAwesome" />
  </div> 
</div> 
</div>

<div class="contacts-tbl-div">
<table class="t-body-contacts" > 
  <tbody class="t-body-contacts">
    <% @contact.each do |contact| %>
      <tr>
       <th class="profile-name">Name</th>
        <td class="profile-info"><%= contact.name %></td>
      </tr>
      <tr>
       <th class="profile-name">Phone</th>  
        <td class="profile-info"><%= contact.phone1 %></td>
      </tr>
      <tr>
       <th class="profile-name">Fax</th>  
        <td class="profile-info"><%= contact.fax %></td> 
      </tr>
      <tr>
       <th class="profile-name">Email</th>  
        <td class="profile-info"><%= contact.email %></td> 
      </tr>
      <tr>
        <th class="profile-name">Address</th> 
        <td class="profile-info"><%= contact.address1 %></td> 
      </tr> 
      <tr>
        <th class="profile-name">City</th>  
        <td class="profile-info"><%= contact.city %></td>
      </tr> 
      <tr>
        <th class="profile-name">State</th>  
        <td class="profile-info"><%= contact.state %></td>
      </tr> 
      <tr>
        <th class="profile-name">Zipcode</th>   
        <td class="profile-info"><%= contact.zipcode %></td> 
      </tr>
      <tr>
        <th class="profile-name">Country</th>  
        <td class="profile-info"><%= contact.country %></td>
      </tr>
      <tr> 
        <th class="profile-name-notes"> Notes</th>     
        <td class="profile-info-notes"><%= contact.notes %></td>
      </tr>
    <% end %> 
  </tbody>
</table> 
</div>
</div>

