
<div style='border: 1px black solid;
            margin-bottom: 15px;'>
<div style='margin-left: 5px'>
  development nav bar
</div>
<nav style='display: flex; 
            justify-content: space-between;
            padding: 5px'>
  <div class='nav-left'>
    <%= link_to 'Home', root_url %>
    <%= link_to 'Prescriptions', prescriptions_url %>
    <%= link_to 'Contacts', contacts_url %>
    <%= link_to 'Journal', journals_url %>
    <%= link_to 'Events', events_url %>
  </div>
  <div class='nav-right'>
    <span>User ID: <%#= current_user.id %><span>
    <span> | </span>
    <%= link_to "Sign Out", destroy_user_session_url,method: :delete%>
  </div>  
</nav>
</div>