
<div style='min-height: 68px'>
  <div style='padding-left: 5px;
              height: 24px;
              background-color: #fff5e9;'>
  development nav bar
  </div>
  <nav style='display: flex; 
              justify-content: space-between;
              padding: 5px;
              background-color: #fff8f0'>
    <div class='nav-left'>
      <%= link_to 'Home', root_url %>
      <%= link_to 'Prescriptions', prescriptions_url %>
      <%= link_to 'Contacts', contacts_url %>
      <%= link_to 'Journal', journals_url %>
      <%= link_to 'Events', events_url %>
    </div>
    <div class='nav-right'>
      <span>User ID: <%#= current_user.id %><span>
      <span> | </span>
      <%= link_to "Sign Out", destroy_user_session_url,method: :delete%>
    </div>  
  </nav>
</div>