<!DOCTYPE html>
<html>
  <head>
    <title>FinalProjectTemplate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ramabhadra&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ab06b5d6e3.js" crossorigin="anonymous"></script>
  </head>
  <style>
  main { 
    width: 360px; 
    height: 640px; 
    border: 1px black solid;
    margin: auto;
    box-sizing: border-box;
  }
  html {
    padding-top: 65px;
    padding-bottom: 65px;
  }
  </style>
  <body>
      <%= render 'layouts/navbar' %>
      <main>
        <%= yield %>
      </main>
  </body>
</html>
