<!DOCTYPE html>
<html>
  <head>
    <title>FinalProjectTemplate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <style>
  main { 
    width: 300px; 
    height: 600px; 
    border: 1px black solid;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
  }
  html {
    padding-top: 65px;
    padding-bottom: 65px;
  }
  </style>
  <body>
      <%= render 'layouts/navbar' %>
      <main>
        <%= yield %>
      </main>
  </body>
</html>
